{% extends "app/base.html" %}
{% block page %}
<h4>Категории вопросов</h4>
<p>Отвечает команда: <big><b>{{team.title}} (очков: {{team.points}})</b></big></p>
<div class="mdl-grid">
    {% for cat in categories %}{% if cat.get_public_answers_count %}
    <div class="mdl-cell mdl-cell--12-col" style="text-align:center">
        <!-- <img src="{{ cat.icon.url }}" alt="" data-badge="{{cat.get_public_answers_count}}"> -->
        <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" 
                {% if cat.get_public_answers_count %}onclick="location.href='{% url 'question' cat_id=cat.id %}'" {%endif%} 
                style="margin:8px">
            {{ cat.title }} ({{cat.get_public_answers_count}})
        </button>
    </div>
    {%endif%}
    {% endfor %}
</div>
{% endblock %}