{% extends "app/base.html" %}
{% block page %}
<form id="form" action="{% url 'question' cat_id=cat_id %}">
    <input type="hidden" name="q_id" value="{{question.id}}">
    <input id='correct-input' type="hidden" name="correctly" value="">
    <input id='a_id' type="hidden" name="a_id" value="">
</form>
<p style="margin: 8px 32px">{{question.text}}</p>
{% if question.image %}
<img src="{% if question.is_public %}{{question.short_image.url}}{% else %}{{question.image.url}}{% endif %}" style="width:100%" alt="">
{% endif %}
{% if question.answers.count == 1 %}
{% for answer in question.answers.all %}
    
<!-- Flat button with ripple -->
<button id="show-button" class="mdl-button mdl-js-button mdl-js-ripple-effect" 
        onclick="document.getElementById('answer').style.display = 'block'; document.getElementById('show-button').style.display = 'none';">
    Показать ответ
</button>
<div id="answer" style="display:none">
    <p><big><b>{{answer.text}}</b></big></p>
    <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--4-col" style="text-align:center">
            <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" 
                onclick="document.getElementById('a_id').value = '{{answer.id}}';document.getElementById('correct-input').value = 'false'; document.getElementById('form').submit()">
                Не верно
            </button>
        </div>
        <div class="mdl-cell mdl-cell--4-col" style="text-align:center">
            <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored" 
                onclick="document.getElementById('a_id').value = '{{answer.id}}';document.getElementById('correct-input').value = 'true'; document.getElementById('form').submit()">
                Верно
            </button>
        </div>
    </div>
    <div style="clear:both;"></div>
</div>
{% endfor %}
    {% else %}
    <div class="mdl-grid">
    {% for answer in question.answers.all %}


    <div class="mdl-cell mdl-cell--12-col">
        <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect {% if not question.is_public %}{% if answer.is_true %}mdl-button--colored{% else %}mdl-button--accent{% endif %}{% endif %}" 
            onclick="document.getElementById('a_id').value = '{{answer.id}}'; document.getElementById('correct-input').value = '{% if answer.is_true %}true{% else %}false{% endif %}'; document.getElementById('form').submit()"
            style="margin:16px">
            {{answer.text}}
        </button>
    </div>
    {% endfor %}
</div>
    {% endif %}


{% endblock %}

