{% extends "app/base.html" %}
{% block page %}

<h3>Викторина</h2>
<h4 style="color:#FEA018"><i>Кто хочет стать Красаучег Уашпе!</i></h4>
<!-- Colored raised button -->
<div class="mdl-grid">
    <div class="mdl-cell mdl-cell--12-col" style="text-align:center">
        <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" onclick="location.href='{% url 'teams' %}'" style="width:200px; margin:16px">
            Таблица команд
        </button>
    </div>
    <div class="mdl-cell mdl-cell--12-col" style="text-align:center">
        <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" onclick="location.href='{% url 'categories' %}'" style="width:200px; margin:16px">
            Категории вопросов
        </button>
    </div>
</div>


{% endblock %}