{% extends "app/base.html" %}
{% block page %}
<h4>Команды игроков</h4>
<table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp" style="margin:auto">
    <thead>
        <tr>
            <th>Номер</th>
            <th class="mdl-data-table__cell--non-numeric">Имя</th>
            <th>Раундов</th>
            <th>Очков</th>
        </tr>
    </thead>
    <tbody>
        {% for team in teams %}
        <tr>
            <td>{{team.order_num}}</td>
            <td class="mdl-data-table__cell--non-numeric">
                {{team.title}}
            </td>
            <td>{{team.games_num}}</td>
            <td>{{team.points}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}